/*Google font imports*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Inconsolata', sans-serif;
}


header {
    background-color: #fff4f9;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
}
header a {
    text-decoration: none;
    color: inherit;
}
h1 {
    color: #303030;
    text-align: center;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

nav {
    background-color: #fff4f9;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    
}
main {
    flex: 1 0 auto;
    margin-top: 70px;
}
#main-image {
    height: 300px;
    width: 100%;
    background-color: #ff6f91;
}
#h2 {
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 20px;
}
p {
text-align: center;
padding: 4px;
margin: 4px;
padding-bottom: 5px;
margin-bottom: 5px;
}

 p .Classes {
    text-decoration: none;
    border-bottom: 1px solid #303030;
    color: #303030;
}

footer {
    background-color: #fff4f9;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 15px;
    color: #303030;
}
/*Classes styles*/

#Available-classes {
 text-align: center;
 padding-top: 10px;
}

#pilates {
    padding-left: 5px;
    margin-left: 5px;
}
#yoga {
    padding-left: 5px;
    margin-left: 5px;
}

#zumba {
    padding-left: 5px;
    margin-left: 5px;
}
h2 ~ div {
    margin-top: 6px;
    padding-top: 6px;
}

/*Media queries*/
@media screen and (min-width :768px) {
    nav {
        letter-spacing: 5px;
        font-size: 20px; 
    }
    main {
        margin-top: 75px;
    }

    #times {
        font-size: 25px;
        padding-top: 5px;
        margin-top: 5px;
    }
    #Available-classes {
        font-size: 30px;
    }
    h1 {
        text-align: left;
    }
}

@media screen and (min-width: 992px){

    main {
        margin-top: 68px;
    }
    nav {
        padding-bottom: 5px;
        margin-bottom: 5px;
        letter-spacing: 40px;
        font-size: 25px;
    }
    h1 {
        letter-spacing: 8px;
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: left;
    }
    
}